/* body{
    padding: 0;
    margin: 0;
}

.head-title{
    background-color: red;
    height: 3rem;
    color: aliceblue;
}

.header h1{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 3rem
}

.head{
    justify-content: space-between;
    height: 6rem;
    background-color: black;
    color: aliceblue;
}

.listpage-name{
    border: 1px gray solid;
    background-color: thistle;
    width: 15rem;
    height: 2rem;
} */

header{
    background-color: black;
    color: thistle;
}